body,html,ul,li,span{
    padding: 0;
    margin: 0;
}
body{
    background-color: #ddd;
}
.main{
    width: 1100px;
    height: 460px;
    margin:80px auto;
    border:1px solid #bbb;
    padding:50px;
}
.main .title{
    margin:20px 20px 20px 0;
}
.main .title .data .data1,.data2,.data3{
  margin-right:10px;
  
  text-align:center;
  padding:5px 10px;
}
.main .title .data .close{
    cursor:pointer;
    padding:2px 4px;
    font-size:12px;
}
.main ul li{
    list-style:none;
    float:left;
    margin-right:20px; 
}

.main ul li a{
    text-decoration:none;
    color:#000;
}
.main ul li a:hover{
    background: rgb(0, 217, 255);
}
.main .content2,.main .content3{
    margin-top:20px;
}
.active{
    background: rgb(0, 217, 255);
}
.main .content2 .checkbox,.main .content3 .checkbox{
    border:1px solid #bbb;
    padding:1px 4px;
    cursor:pointer;
    float:right;
}
